@import "tailwindcss";

:root {
  /* Colores */
  --background: #ffffff;
  --background-secondary: #fcfcfc;

  --foreground: #1e1e1e;
  --foreground-muted: #707070;

  --primary: #2a2227;
  --accent: #f7b92c;

  --border: #ececec;
  --card: #fafafa;

  /* Bordes */
  --radius-button: 16px;
  --radius-input: 16px;
  --radius-card: 24px;
  --radius-image: 24px;

  /* Sombras */
  --shadow-sm: 0 2px 8px rgba(0, 0, 0, 0.04);
  --shadow-md: 0 8px 24px rgba(0, 0, 0, 0.06);

  /* Animaciones */
  --transition: 200ms ease;
}

@theme inline {
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);

  --color-foreground: var(--foreground);
  --color-foreground-muted: var(--foreground-muted);

  --color-primary: var(--primary);
  --color-accent: var(--accent);

  --color-border: var(--border);
  --color-card: var(--card);

  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), sans-serif;
}
